MONGODB_URI=mongodb://root:example@localhost:27017
MONGODB_DB_NAME=gatil-irma-francisca


MP_PUBLIC_KEY=
MP_ACCESS_TOKEN=


FRONTEND_URL=
MP_WEBHOOK_SECRET=
JWT_SECRET=

PAINEL_ADM_URL=http://localhost:3001
PAINEL_ADM_INTERNAL_SECRET=

RESEND_API_KEY=
EMAIL_FROM="Gatil Irmã Francisca <rifa@mail.gatilirmafrancisca.org>"